In [61]:
import numpy as np

In [62]:
def populate_list(length):
  return [random.randint(10,50) for _ in range(length)]

In [63]:
def sum_list(lst):
  return sum(lst)

In [64]:
while True:
  user_entry = int(input("Enter an integer between 5 and 15: "))
  if user_entry >= 5 and user_entry <= 15:
    break

Enter an integer between 5 and 15: 5

In [65]:
lst = populate_list(user_entry)
print("The elements of the array are:", " ".join(str(x) for x in lst))

The elements of the array are: 46 49 28 47 45

In [66]:
total_sum = sum_list(lst)
print("The sum is:", total_sum)

The sum is: 215